# Port configuration for the API
PORT=8000

# Database Connection URL (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/chatbot_rag?schema=public"

# Auth configurations (JWT & Better Auth)
BETTER_AUTH_SECRET="better_auth_session_secret_fptu_rag"

#Email
RESEND_API_KEY=re_xxxxxxxxxxxxx
EMAIL_FROM="FPTU RAG Chatbot <noreply@fpt.edu.vn>"

BETTER_AUTH_URL="http://localhost:8000"
NEXT_PUBLIC_API_BASE_URL="http://localhost:8000"

# AI models & API credentials
GEMINI_API_KEY=""
GEMINI_TEXT_MODEL="gemini-3.1-flash-lite"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Internal callback security key for document status updates
INTERNAL_API_URL="http://localhost:8000"
INTERNAL_API_KEY="super_internal_api_key_fptu_rag"

ANYTHING_LLM_URL="http://localhost:3004"
ANYTHING_LLM_API_KEY=eeedkhgakwdgawd

# Cloudinary for image upload
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
