# Port configuration for the API
PORT=8000

# Database Connection URL (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/chatbot_rag?schema=public"

# Auth configurations (JWT & Better Auth)
BETTER_AUTH_SECRET="better_auth_session_secret_fptu_rag"
BETTER_AUTH_URL="http://localhost:8000"

# AI models & API credentials
GEMINI_API_KEY=""
GEMINI_TEXT_MODEL="gemini-3.1-flash-lite"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Webhook security key for Golang worker PATCH status updates
INTERNAL_API_URL="http://localhost:8000"
INTERNAL_API_KEY="super_internal_api_key_fptu_rag"
REDIS_HOST="localhost"

ANYTHING_LLM_URL="http://localhost:3003"
ANYTHING_LLM_API_KEY=eeedkhgakwdgawd
